/Cordova/
/iPhone/
/Cordova/LicenseScanner/nbproject/private/
/NARMSNetbeans/NARMIonicMobile/platforms/
/NARMSNetbeans/NARMSServer/narms-web/target/
/NARMSNetbeans/NARMSIonicMobile/platforms/ios/www/nbproject/private/