<ion-view style="" title="Home Page">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <h2 style="">California</h2>
        <h3 style="">Emily</h3>
        <h3 style="">January</h3>
        <h4 style="">Center Total Samples : 80</h4>
        <h4 style="">Center Total Collected : 35</h4>
        <h4 style="">My Samples : 10</h4>
        <a style="" class="button button-stable button-block  icon-left ion-playstation" href="#/samplelog">Collect Meat Sample</a>
        <a style="" class="button button-stable button-block  icon-left ion-playstation" href="#/samplelog">Activity Details</a>
        <a style="" class="button button-stable button-block  icon-left ion-playstation" href="#/samplelog">Sample Log Details</a>
        <a style="" class="button button-stable button-block  icon-left ion-playstation" href="#/samplelog">Start Navigation</a>
    </ion-content>
</ion-view>