<ion-view style="" title="Login">
    <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <h1 style="">Login</h1>
            <ion-list style="">
                <label style="" name="email" class="item item-input">
                    <span class="input-label">email</span>
                    <input placeholder="email" ng-model="data.email" type="text" />
                </label>
                <label style="" name="password" class="item item-input">
                    <span class="input-label">Password</span>
                    <input placeholder="password" ng-model="data.password" type="password" />
                </label>
            </ion-list>
            <div style="height: 40px;" class="spacer"></div>
            <a style="" class="button  button-block " ng-click="login(data)" >Log in</a>
            <a style="" class="button button-positive button-clear button-block " href="#/signuppage">Or create an account</a>
        </form>
    </ion-content>
</ion-view>