<div class="modal">
    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <h1 class="title">New Sample</h1>
        <button class="button button-clear button-positive" ng-click="closeNewSample()">Cancel</button>
    </ion-header-bar>
    <!-- Modal content area -->
    <ion-content>
        <form ng-submit="newSample(sample)">
        <div class="list">
            <label class="item item-input">
            <input type="text" placeholder="Sample Name" ng-model="sample.title">
            </label>
        </div>
        <div class="padding">
            <button type="submit" class="button button-block button-positive">Create Sample</button>
        </div>
        </form>
    </ion-content>
</div>
