<ion-view style="" title="Signup">
    <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true">
        <h1 style="">Signup</h1>
        <form style="" class="list">
            <ion-list style="">
                <label style="" name="firstname" class="item item-input">
                    <span class="input-label">First Name</span>
                    <input placeholder="" type="text">
                </label>
                <label style="" name="lastname" class="item item-input">
                    <span class="input-label">Last Name</span>
                    <input placeholder="" type="text">
                </label>
                <label style="" name="password" class="item item-input">
                    <span class="input-label">Password</span>
                    <input placeholder="" type="text">
                </label>
                <label style="" name="email" class="item item-input">
                    <span class="input-label">email</span>
                    <input placeholder="" type="text">
                </label>
                <label style="" name="center" class="item item-input">
                    <span class="input-label">Center</span>
                    <input placeholder="" type="text">
                </label>
            </ion-list>
        </form>
        <a style="" class="button button-stable button-block " href="#/homepage/dashboard">Sign up</a>
    </ion-content>
</ion-view>